@mixin note {
  @media (min-width: 769px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 930px) {
    @content;
  }
}

$sizes: 12;

@mixin margin-classes {
  @for $i from 1 through $sizes {
    $margin: $i * 0.25rem;
    /* margin #{$margin} */
    .m#{$i} {
      margin: $margin;
    }
    .ml#{$i} {
      margin-left: $margin;
    }
    .mr#{$i} {
      margin-right: $margin;
    }
    .mt#{$i} {
      margin-top: $margin;
    }
    .mb#{$i} {
      margin-bottom: $margin;
    }
    .mx#{$i} {
      margin-left: $margin;
      margin-right: $margin;
    }
    .my#{$i} {
      margin-top: $margin;
      margin-bottom: $margin;
    }
  }
}

@mixin padding-classes {
  @for $i from 1 through $sizes {
    $padding: $i * 0.25rem;
    /* padding #{$padding} */
    .p#{$i} {
      padding: $padding;
    }
    .pl#{$i} {
      padding-left: $padding;
    }
    .pr#{$i} {
      padding-right: $padding;
    }
    .pt#{$i} {
      padding-top: $padding;
    }
    .pb#{$i} {
      padding-bottom: $padding;
    }
    .px#{$i} {
      padding-left: $padding;
      padding-right: $padding;
    }
    .py#{$i} {
      padding-top: $padding;
      padding-bottom: $padding;
    }
  }
}

@mixin animator($name, $duration: 1s, $style: ease) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $style;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-play-state: paused;
}

@mixin slideDown($start, $stop) {
  @include animator(slideDown);
  @keyframes slideDown {
    0% {
      transform: translateY($start);
      opacity: 0;
    }

    100% {
      transform: translateY($stop);
      opacity: 1;
    }
  }
}
@mixin slideUp($start, $stop) {
  @include animator(slideUp, 0.5s);
  @keyframes slideUp {
    0% {
      transform: translateY($start);
      opacity: 0;
    }

    100% {
      transform: translateY($stop);
      opacity: 1;
    }
  }
}
@mixin slideRight($start, $stop) {
  @include animator(slideRight);

  @keyframes slideRight {
    0% {
      transform: translateX($start);
      opacity: 0;
    }

    100% {
      transform: translateX($stop);
      opacity: 1;
    }
  }
}
@mixin slideLeft($start, $stop) {
  @include animator(slideLeft);

  @keyframes slideLeft {
    0% {
      transform: translateX($start);
      opacity: 0;
    }

    100% {
      transform: translateX($stop);
      opacity: 1;
    }
  }
}

@mixin fade {
  @include animator(fade);

  @keyframes fade {
    0% {
      opacity: 0;
      visibility: hidden;
    }

    100% {
      opacity: 1;
      visibility: visible;
    }
  }
}
